
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user.component.css">
    <title>Perfil de Usuario</title>
</head>
<body>

<div class="profile-container">
    <div class="profile-left">
        <div class="profile-image">
            <img src="img/foto-de-perfil.jpg" alt="Foto de perfil" class="profile-img">
        </div>
        <h2 class="nombre-usuario">DORITA</h2>
    </div>
    <div class="profile-right">

        <p>Email: dorita..example.com</p>
        <p>Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus quis augue id aliquam. Nulla
          porta nibh quis nisl viverra rutrum. Quisque cursus nunc lorem, a lacinia orci maximus non. Nulla imperdiet,
          eros ac egestas porta, felis libero vestibulum nisl, sed tempus lorem eros nec diam. Proin vel cursus nulla.
          Quisque id ultrices urna, vel efficitur metus. Proin at ipsum ut dui rutrum rhoncus in vel odio. Morbi justo sapien,
          finibus sit amet ipsum ac, pharetra condimentum turpis.</p>
    </div>


</div>

<div class="button-container">
    <button class="btn-edit">Editar Perfil</button>
</div>

</body>
</html>



